p {
  font-size: 18px;
}

.bgimg {
    background-image: url('../images/background.jpg');
}

#wrapper {
    width: 90%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px;

}
#wrapper2 {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;

}
#portfolio {
    padding-top: 80px;
    padding-bottom: 80px;

}
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: #ffffff;

}
#header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: black;
    color: #ffffff;

}
#first {
    width: 30%;
    float:left;
    border: 1px solid black;
}
#second {
    overflow: hidden;
    padding: 60px 10% 75px 10%;

}
#third {
    overflow: hidden;
    padding: 75px 10% 75px 10%;
}

.column {
    float: left;
    width: 25%;
}
.row {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
